.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #7D695F;
  background-color: #97C6A5;
  border-bottom: 5px solid white;
  border-top: 5px solid white;
}
@media only screen and (min-width: 800px) {
  .contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
.contact .dev h4 {
  font-size: 2rem;
}
@media only screen and (min-width: 1000px) {
  .contact .dev h4 {
    font-size: 1.75rem;
  }
}
.contact .dev p {
  font-size: 1.25rem;
}
.contact .dev .social-links {
  width: 30%;
  height: 30%;
  padding: 5%;
}
.contact .card {
  margin: 5%;
  padding: 5%;
  width: 100%;
  line-height: 1.5;
  background: #FFFFFF;
}
@media only screen and (min-width: 800px) {
  .contact .card {
    padding: 2%;
    margin: 2%;
    width: 30%;
    height: 300px;
  }
}
@media only screen and (min-width: 1000px) {
  .contact .card {
    height: 500px;
  }
}
