@import "variables.less";
@import "mixins.less";

.jumbotron {
    width: 100%;
    position: relative;
    text-align: center;
    color: @white;
    height: auto;
    background-image: url("/images/close-up-photo-of-green-leafed-plant-1407305.jpg");
    padding: 5%;
    
    h1 {
        font-size: 6rem;
    }

    p {
        font-family: @roboto;
        font-size: 2rem;
    }
}