@import "variables.less";
@import "mixins.less";

.jumbotron {
    width: 100%;
    height: auto;
    text-align: center;
    color: @white;
    height: auto;
    background-color:@green;
    border-top: @border-white;
    border-bottom: @border-white;
    position: relative;    

    #banner {
        display: inline-block;
        width: 100%;
        height: 60vh;
        opacity: 0.5;

        @media @tablet {
            height: 80vh;
        }

        @media @desktop {
            height: 100vh;
        }
    }
    
    .jumbo-txt {
        padding: 10% 5%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media @tablet {
            padding: 5%;
        }

        h1 {
            font-size: 4rem;
            flex-wrap: nowrap;

            @media @tablet {
                font-size: 6rem;
            }

            @media @desktop{
                font-size: 8rem;
            }
        }
    
        p {
            font-size: 2rem;
            padding: 1%;

            @media @desktop{
                font-size: 4rem;
            }
        }
        
    }
}

.about {
    width: 100%;
    height: auto;
    background-color: @brown;
    border-bottom: @border-white;
    // border-top: @border-white;
    text-align: left;
    .flex(row, space-evenly, center);
    align-items: center;
    padding: 5%;

    .about-txt {
        .flex(column, space-evenly, center);
        font-size: 1.5rem;
        color: @white;
        width: 50%;
        margin: 0 auto;
        P {
          padding: 5%;  
        }
        
        button {
           color: @yellow; 
           background-color: @brown;
           padding: 1%;
           border-radius: 5px;
           font-size: 1.5rem;

           &:hover{
            color: @brown; 
            background-color: @yellow;
           }
        }
    }

    .about-img {
        width: 50%;
        // margin: 0 auto;
        img {
            border-radius: 50%;
            width: 200px;
            height: 200px; 
        //   margin: 0 auto;

          @media @tablet {
            width: 300px;
            height: 300px; 
          }

          @media @desktop {
            width: 400px;
            height: 400px; 
          }
        }
        
    }

}


.product {
    width: 100%;
    height: auto;
    .flex(column, center, center);
    color: @brown;
    border-bottom: @border-white;
    background-color: @green;

    @media @tablet {
        .flex(row, space-around, center);
    }

    h3 {
        font-size: 2rem;
    }

    p {
        font-size: 1.25 rem;
    }

    .product-img {
        border-radius: 50%;
        padding: 5%;
        width: 200px;
        height: 200px;

        @media @desktop {
            width: 300px;
            height: 300px;
        }


    }

    .card {
        background-color: @white;
        margin: 5%;
        padding: 5%;
        width: 100%;
        line-height: 1.5;

        @media @tablet {
            padding: 2%;
            margin: 2%;
            width: 30%;
            height: 400px;
        }

        @media @desktop {
            height: 600px;
        }
    }

    .product-1 {
        .flex(row, space-around, center);

        @media @tablet {
            .flex(column, center, center);
        }
    }

    .product-2 {
        .flex(row-reverse, space-between, center);

        @media @tablet {
            .flex(column, center, center);
        }
    }

    .product-3 {
        .flex(row, space-evenly, center);

        @media @tablet {
            .flex(column, center, center);
        }
    }

    .product-txt {
        .flex(column, center, center);
        padding: 10%;
    }

}

.header-img {
    width: 100%;
    color: @brown;
    position: relative;  
    text-align: center;

    img{
      width: 100%;
      height: 50vh;

      @media @tablet {
          height: 80vh;
      }

      @media @desktop {
          height: 100vh;
      }
    }
    
    h2 {
        font-size: 3rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-75%, -50%);

        @media @tablet {
            font-size: 5rem;
        }

        @media @desktop {
            font-size: 7rem;
        }
    }
}

