* {
  font-size: 10px;
  box-sizing: border-box;
}
p,
a {
  font-family: Roboto, Arial, sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: 'Amatic SC', cursive;
  font-size: 2rem;
}
header {
  background-color: #7D695F;
  width: 100%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 800px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    position: fixed;
    z-index: 4;
    top: 0;
    opacity: 0.6;
    margin: 0;
  }
}
header .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .logo img {
  width: 15%;
  height: 15%;
}
header .logo h2 {
  font-size: 3rem;
  color: #FFFFFF;
}
@media only screen and (min-width: 800px) {
  header .logo h2 {
    font-size: 2.5rem;
    flex-wrap: nowrap;
  }
}
header nav {
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 800px) {
  header nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0;
  }
}
header nav .navlinks {
  color: #FFFFFF;
  text-decoration: none;
  padding: 5%;
  width: 100%;
  font-size: 1.5 rem;
  font-family: Roboto, Arial, sans-serif;
}
@media only screen and (min-width: 800px) {
  header nav .navlinks {
    padding: 2%;
    width: 20%;
  }
}
header nav .navlinks:hover {
  color: #E8DEBD;
}
