@import "variables.less";
@import "mixins.less";
@import "global.less";

header {
    width: 100%;
    .flex(column, center, center);
    padding: 1%;

    @media @tablet {
        .flex(row, space-between, center);
        padding: 0;
    }

    .logo {
        .flex(row, space-evenly, center);
        margin-top: 1%;
        img {
            width: 20%;
            height: 20%;
            
        }  

        h2 {
            font-size: 3rem;
            color: @brown;
        }
    }
    
    nav{
        .flex(column, center, center);
        width: 100%;  

        @media @tablet {
            .flex(row, space-evenly, center);
            flex-wrap: nowrap;
            padding: 0;
        }
    }
    
}

.navlinks {
    color: @green;
    text-decoration: none;
    padding: 2%;
    font-size: 1.5 rem;
    font-family: @roboto;

    @media @tablet {
        padding: 0;
    }
    
    &:hover {
        color: @brown;
    }
}