//Colors:
@green:#97C6A5;
@brown:#7D695F;
@white:#FFFFFF;
@yellow:#E8DEBD;

//Fonts:
@header-font: "";
@roboto: "";

//Media Queries
@mobile: ~"only screen and (max-width: 500px)";
@tablet: ~"only screen and (max-width: 800px)";